*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}
.main-bg {
   
}

.main-container {
    max-width: 100rem;
    margin: 0 auto;
}

.card-size {
    min-height: 100vh;
}

.avatar {
    max-width: 14.3rem;
    max-height: 19rem;
    overflow: hidden;
    border-radius: 1.6rem;
    border: 2px solid #fff;
    background-color: bisque;
}

.avatar img {
    transition: all 300ms ease-in-out;
}

.avatar img:hover {
    transform: translate(3%, 3%) scale(1.2) rotate(5deg);
}

.menu {
    max-width: 100rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li img {
    display: block;
    height: 3rem;
    padding-left: 1.5rem;
}

.menu ul li img:hover {
    transition: all 300ms ease-in-out; 
}

.menu ul li img:hover {
    transform: translate(3%, 3%) scale(1.2) rotate(5deg);
}

.box-one {
    min-height: 30vh;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3rem 3rem 0 0;
}

.box-two {
    min-height: auto;
    background-color: #eee;
}

.box-three {
    min-height: auto;
    background-color: #eee;
}


.content-one {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    padding: 3rem;
    gap: 3rem;
}

.content-two {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 3rem;
    gap: 3rem;
}

.content-three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    gap: 3rem
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll90 {
    width: 90%;
    height: 2rem;
    background-color: #4f7573;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    
}

.scroll80 {
    width: 80%;
    height: 2rem;
    background-color: #4f7573;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
}

.scroll70 {
    width: 70%;
    height: 2rem;
    background-color: #4f7573;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
}

.text {
    font-size: 2rem;
}

.title {
    background-color: #eee;
    max-width: 100rem;
    padding-left: 3rem;
    border-bottom: 1px solid #4f7573;
}

.timeline {
    height: auto;
    background-color: #eee;
}

.timeline-card {
    max-width: 90rem;
    margin: 0 auto;
    padding: 3rem;
    border-left: 2px solid #4f7573;
}

.card-body {
    border: 1.5px solid #4f7573;
    border-left: 2px solid #243635;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
}

.card-body:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.title-card {
    color: #243635;
    position: relative;
  }

.title-card::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -7rem;
    border: 3px solid #243635;
  }

  
.contact-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
}

.contact-img img {
    width: 100%;
    padding: 0.5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato-msg h3 {
    padding-left: 3rem;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.form-group {
    flex: 1 1 32rem;
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: #fff;
    padding: 1.5rem 2rem;
    width: 100%;
}

.form-group button {
    cursor: pointer;
}

button {
    border: none;
    background-color: #4f7573;
    padding: 1.5rem 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
}

button a {
    color: #fff;
}

button:hover {
    background-color: #243635;
} 

.text-footer p {
    font-size: 1rem;
}


@media (max-width: 790px){
    .content-one, .content-two, .content-three, .contact-img {
        grid-template-columns: 1fr;
    }
    .heading button {
        margin-bottom: 2rem;
    }
}













